*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.db-page{
  height: 100vh;
  width: 100vw;
}

.db-name{
  font-family: "Allura", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
}

.db-spin-btn{
  font-size: 120px;
}

.db-vertical{
  writing-mode: vertical-lr;
}

.db-footer{
  height: 39%;
}

@media only screen and (max-width: 576px) {
  .font-sm {
      font-size: 16px;
      font-weight: 500;
  }
}

@media only screen and (min-width: 576px) {
  .font-lg {
      font-size: 23px;
  }
}
