@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.exp{
    overflow: hidden;
}

.points{
  font-family: "Lora", serif;
  font-style: normal;
  color: black;
}

h3{
  font-family: "Odibee Sans", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.place{
    font-size: large;
    color: black;
}

.vertical-timeline-element-subtitle{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: black;
}

.company span{
    color: rgb(94, 93, 93);
}

ul {
    padding-left: 0;
    margin: 0;
}

.exp img{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 576px){
    .place{
        font-size: small;
    }

    .company{
        padding-top: 5px;
        font-size: small;
    }

    li{
        font-size: smaller;
    }
}

.cont{
    padding: 10px;
    border-radius: 4px;

    &:hover{
        background-color: #444342;
    }
}

.cont:hover{
    ul .points, 
    .vertical-timeline-element-title,
    .vertical-timeline-element-subtitle,
    .vertical-timeline-element-subtitle .company,
    .itemCompany:hover{
        color: white;  
      }
}
