@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Irish+Grover&family=Russo+One&display=swap");

.skl * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.skl {
  height: 100vh;
  width: 100%;
  background-color: #fcf6f4;
}

.skl-header {
  height: 10%;
}

.skl-footer{
  height: 90%;
}

.skl-name {
  font-family: "Allura", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
}

.skl-btn{
  border: 2px solid black;
}

.skl-btn:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.skl-link {
  position: static;
}


.card2:hover,
.card1:hover {
  background-color: #444342;
  color: white;
}

@media only screen and (max-width: 800px) {
  .skl-footer {
    height: 90%;
  }

  .skl-card {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }

  .card1,
  .card2 {
    padding: 20px;
    border: 2px solid black;
    background-color: #fcf6f4;
    border-radius: 10px;
    
    width: 80%;
  }

  .card1{
    height: 330px;
    margin-bottom: 50px;
  }

  .card2{
    margin-top: -100px;
    height: 400px;
    margin-bottom: 100px;
  }

  .card1 p:first-child,
  .card2 p:first-child {
    font-size: medium;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .skl-ff{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding-top: 10px;
  }

  .skl-ff2{
    font-weight: bold;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
  }

  .skl-icon{
    font-size: x-large;
  }

}

@media only screen and (min-width: 801px) {
  .skl-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .card1,
  .card2 {
    padding: 20px;
    border: 2px solid black;
    background-color: #fcf6f4;
    border-radius: 10px;
    height: 70%;
    width: 50%;
    margin: 30px;
  }

  .card1 p:first-child,
  .card2 p:first-child {
    font-size: xx-large;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .skl-ff{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    font-size: larger;
  }

  .skl-ff2{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
  }

  .skl-icon{
    font-size: xx-large;
  }

}
