@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Irish+Grover&family=Russo+One&display=swap");

.skl * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.skl {
  height: 100vh;
  width: 100%;
  /* background-color: #fcf6f4; */
}

.skl-header {
  height: 10%;
}

.skl-footer{
  position: absolute;
  bottom: 0px;
}

.skl-content{
  color: #444342;
}

.skl-name {
  font-family: "Allura", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: xx-large;
}

.skl-btn{
  border: 2px solid black;
}

.skl-btn:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.c2:hover,
.c1:hover {
  background-color: #444342;
  color: white;
}

.c1, .c2{
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
    background-color: #fcf6f4;
}

.c{
  background-color: aqua;
  width: max-content;
}

@media only screen and (max-width: 800px) {

  .skl-card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
  }

  .c1 p:first-child,
  .c2 p:first-child {
    font-size: medium;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .skl-ff{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    padding-top: 5px;
  }

  .skl-ff2{
    font-weight: bold;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
  }

  .skl-icon{
    font-size: x-large;
  }

}

@media only screen and (min-width: 801px) {
  .skl-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .c1,
  .c2 {
    padding: 20px;
    border: 2px solid black;
    background-color: #fcf6f4;
    border-radius: 10px;
    width: 50%;
    margin: 30px;
  }

  .c1 p:first-child,
  .c2 p:first-child {
    font-size: xx-large;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .skl-ff{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    font-size: larger;
    text-indent: 10px;
  }

  .skl-ff2{
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
  }

  .skl-icon{
    font-size: xx-large;
  }

}
